{"plantsitter_ip" : "0.0.0.0", "plantsitter_port" : "5000",
 "plantsitter_influx_addr" : "localhost", "plantsitter_influx_port" : "8086",
 "plantsitter_db" : "plants",
 "twilio_sid" : "example",
 "twilio_token" : "example",
 "from_number" : "+12345678901",
 "to_number" : "+12345678901",
 "google_client_id" : "example",
 "google_client_secret" : "example",
 "email" : "example@gmail.com",
 "connections" : ["data", "command"],
 "sleep_normal" : 0.05,
 "sleep_no_connection" : 1.0
 }
